/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    margin: 0px;
    background-color: white;
}

nav {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #5b5e6d;
    position: sticky;
    top: 0px;
    background-color: white;
}

nav ul,
.fa-times {
    display: none;
}

nav img {
    width: 30vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    color: #2C303F;
    margin-bottom: 5px;
    margin-top: 15px;
}

header p {
    font-size: 1em;
    text-align: justify;
    color: #5b5e6d;
    padding-right: 20px;
}

header input {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    line-height: 3em;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

header button {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    line-height: 3em;
    background-color: #192592;
    color: white;
    border-radius: 5px;
    border: none;
}

header>img {
    order: 5;
    width: 85vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F4F3F4;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F4F3F4;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h2 {
    color: #2C303F;
    margin-bottom: 5px;
}

main p {
    text-align: center;
}

main button {
    font-size: 1em;
    font-weight: bold;
    color: #192592;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    line-height: 3em;
    margin-bottom: 30px;
    border: 1px solid #192592;
    border-radius: 5px;
}

main img {
    width: 60vw;
    margin-bottom: 70px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F4F3F4;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F4F3F4;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: center;
}

ul {
    list-style: none;
    padding-left: 0px;
    width: 40vw;
    box-sizing: border-box;
}

ul li {
    font-size: 1em;
    padding-bottom: 10px;
    color: #5b5e6d;
}

ul>li:first-of-type {
    font-weight: bold;
}

.row img {
    width: 124px;
    margin-right: 60vw;
    box-sizing: content-box;
}

.inline {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.inline li {
    display: inline;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 10px;
}

.bottom-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F4F3F4;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.bottom-row * {
    margin-right: 10px;
}

#flag {
    width: 32px;
}

@media (min-width: 767px) and (max-width: 961px) {
    main button {
        width: 30%;
        padding-right: 0px;
    }
    header p {
        color: red;
    }
}