/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    margin: 0px;
    background-color: white;
}

#flag {
    width: 32px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 100%;
}

#bottom-row{
    text-align: center;
}

#bottom-row ul, #bottom-row li{
    width: 80%;
}

#bottom-row i{
    width: 30%;
}

#image-row img{
    margin-right: 15px;
}

#links-row{
    align-items: baseline;
    box-sizing: border-box;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#links-row *{
    box-sizing: border-box;
}

#list {
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

#list li {
    display: inline;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

nav {
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #5b5e6d;
    top: 0px;
    background-color: white;
}

nav ul,
.fa-times {
    display: none;
}

nav img {
    width: 30vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    box-sizing: border-box;
}

header p {
    font-size: 1em;
    text-align: justify;
    color: #5b5e6d;
    padding-right: 20px;
}

header>img {
    order: 5;
    width: 85vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F4F3F4;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F4F3F4;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main p {
    text-align: center;
}

main button {
    font-size: 1em;
    font-weight: bold;
    color: #192592;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    line-height: 3em;
    margin-bottom: 30px;
    border: 1px solid #192592;
    border-radius: 5px;
}

main img {
    width: 60vw;
    margin-bottom: 70px;
}

.blue-button{
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    line-height: 3em;
    background-color: #192592;
    color: white;
    border-radius: 5px;
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F4F3F4;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0px;
    width: 40vw;
    box-sizing: border-box;
}

ul li {
    font-size: 1em;
    padding-bottom: 10px;
    color: #5b5e6d;
}

ul>li:first-of-type {
    font-weight: bold;
}

#bottom-logo {
    width: 124px;
    margin-right: 60vw;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    line-height: 3em;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    color: #2C303F;
    margin-bottom: 5px;
    margin-top: 15px;
}

h2 {
    color: #2C303F;
    margin-bottom: 5px;
}

@media (min-width: 767px) and (max-width: 961px) {
    main button {
        width: 30%;
    }

    main img{
        width: 40vw;
    }

    main>*:last-child{
        display: flex;
        flex-direction: row;
    }

    .row img{
        margin-right: 0px;
        width: 40vw;
    }

    input {
        width: 60%;
        padding-right: 0px;
        box-sizing: border-box;
        line-height: 3em;
    }
    
    .blue-button{
        width: 40%;
        line-height: 3em;
        height: 3.5em;
        margin-left: 15px;
    }

    #input-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60vw;
        box-sizing: border-box;
        align-self: flex-start;
    }

    header>*:last-child{
        align-self: flex-start;
    }

    header>img {
        width: 45vw;
    }

    #text-row{
        width: 30vw;
    }
    #button-row{
        width: 50vw;
        justify-content: center;
        align-items: baseline;
    }
    #button-row input{
        width: 50%;
    }

    #links-row ul {
        width: 20vw;
        box-sizing: border-box;
    }

    #bottom-row{
        text-align: center;
        width: 100%;
        justify-content: space-between;
    }
    
    #bottom-row ul{
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    #bottom-row li{
        font-size: 0.9em;
        width: 30%;
        padding: 0px;
    }

    #bottom-row div{
        width: 40%;
    }
    
    #bottom-row i{
        width: 10%;
    }

    #bottom-logo{
        margin-right: 75vw;
    }
}

@media (min-width: 962px) and (max-width: 1024px) {
    main button {
        width: 30%;
    }

    main img{
        width: 40vw;
    }

    main>*:last-child{
        display: flex;
        flex-direction: row;
    }

    #image-row img{
        margin-right: 0px;
        width: 20vw;
        margin-right: 20px;
    }

    input {
        width: 60%;
        padding-right: 0px;
        box-sizing: border-box;
        line-height: 3em;
    }
    
    .blue-button{
        width: 40%;
        line-height: 3em;
        height: 3.5em;
        margin-left: 15px;
    }

    #input-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60vw;
        box-sizing: border-box;
        align-self: flex-start;
    }

    header>*:last-child{
        align-self: flex-start;
    }

    header>img {
        width: 45vw;
    }

    #text-row{
        width: 30vw;
    }
    #button-row{
        width: 50vw;
        justify-content: center;
        align-items: baseline;
    }
    #button-row input{
        width: 50%;
    }

    #links-row ul {
        width: 20vw;
        box-sizing: border-box;
    }

    #bottom-logo{
        margin-right: 70vw;
    }
    #bottom-row{
        text-align: center;
        width: 100%;
        justify-content: space-between;
    }
    
    #bottom-row ul{
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    #bottom-row li{
        font-size: 0.9em;
        width: 30%;
        padding: 0px;
    }

    #bottom-row div{
        width: 40%;
    }
    
    #bottom-row i{
        width: 10%;
    }

    nav img {
        width: 25vw;
    }
}

@media (min-width: 1025px){

    nav{
        position: sticky;
        top: 0px;
    }

    nav img {
        width: 15vw;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
    }

    nav ul li{
        text-align: center;
        margin-left: 15px;
        font-size: 1em;
        padding: 10px;
    }

    header>img {
        order: 0;
        width: 40vw;
    }

    header{
        flex-direction: row;
    }

    header>div{
        display: flex;
        flex-direction: column;
        width: 50vw;
        box-sizing: border-box;
    }

    header h1{
        font-size: 5em;
    }

    header p{
        font-size: 1em;
    }

    main button {
        width: 30%;
    }

    main img{
        width: 40vw;
    }

    main>*:last-child{
        display: flex;
        flex-direction: row;
    }

    #image-row img{
        margin-right: 0px;
        width: 25vw;
        margin-right: 50px;
    }

    input {
        width: 60%;
        padding-right: 0px;
        box-sizing: border-box;
        line-height: 3em;
    }
    
    .blue-button{
        width: 40%;
        line-height: 3em;
        height: 3.5em;
        margin-left: 15px;
    }

    #input-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        align-self: flex-start;
    }

    header>*:last-child{
        align-self: flex-start;
    }

    header>img {
        width: 45vw;
    }

    #text-row{
        width: 30vw;
    }
    #button-row{
        width: 50vw;
        justify-content: center;
        align-items: baseline;
    }
    #button-row input{
        width: 50%;
    }

    #links-row{
        margin-top: 10vh;
    }

    #links-row ul {
        width: 15vw;
        box-sizing: border-box;
    }

    #bottom-logo{
        margin-right: 0px;
        align-self: center;
        margin-right: 20vw;
    }
    #bottom-row{
        text-align: center;
        width: 100%;
        justify-content: space-between;
    }
    
    #bottom-row ul{
        width: 30%;
        display: flex;
        flex-direction: row;
    }

    #bottom-row li{
        font-size: 0.9em;
        width: 20%;
        padding: 0px;
        margin: 0px;
    }

    #bottom-row div{
        width: 30%;
    }
    
    #bottom-row i{
        width: 5%;
    }

    .fa-bars{
        display: none;
    }
}